<p>
	Każde zdarzenie można zbindować funkcją gorillaFB.on(alias_eventu, callback).
	Każde zdarzenie z Facebooka można zbindować funkcją gorillaFB.Event.on(nazwa_eventu, callback).
</p>

<table>

<tr>
	<th colspan="2">Event</th>
	<th>Callable</th>
</tr>

<tr>
	<th>Name</th>
	<th>Alias / Example</th>
	<th>Method</th>
</tr>

<tr>
	<td>gorillaFB.send</td>
	<td>send</td>
	<td>gorillaFB.send()</td>
</tr>

<tr>
	<td>gorillaFB.post</td>
	<td>post</td>
	<td>gorillaFB.post()</td>
</tr>

<tr>
	<td>gorillaFB.oauth</td>
	<td>oauth</td>
	<td>gorillaFB.oauth()</td>
</tr>

<tr>
	<td>gorillaFB.query</td>
	<td>query</td>
	<td>gorillaFB.query()</td>
</tr>

<tr>
	<td>gorillaFB.photo.add</td>
	<td>photo.add</td>
	<td>gorillaFB.Photo.add()</td>
</tr>

<tr>
	<td>gorillaFB.invitation.send</td>
	<td>invitation.send</td>
	<td>gorillaFB.Invitation.send()</td>
</tr>

<tr>
	<td>gorillaFB.fan</td>
	<td>fan</td>
	<td>gorillaFB.isFan()</td>
</tr>

<tr>
	<td>gorillaFB.likes</td>
	<td>likes</td>
	<td>gorillaFB.getLikes()</td>
</tr>

<tr>
	<td>gorillaFB.friends</td>
	<td>friends</td>
	<td>gorillaFB.getFriends()</td>
</tr>

<tr>
	<td>gorillaFB.me</td>
	<td>me</td>
	<td>gorillaFB.getUser()</td>
</tr>

<tr>
	<td>gorillaFB.login</td>
	<td>login</td>
	<td>gorillaFB.login()</td>
</tr>

<tr>
	<td>gorillaFB.init</td>
	<td>init</td>
	<td>gorillaFB.init()</td>
</tr>

<tr>
	<td>gorillaFB.event.on</td>
	<td>event.on</td>
	<td>gorillaFB.Event.on()</td>
</tr>

<tr>
	<td>gorillaFB.event.off</td>
	<td>event.off</td>
	<td>gorillaFB.Event.off()</td>
</tr>

</table>
